/* Here You Can Chose Custom Colors For The Panels Or Navbar If You Implement It */

.panel-heading {
    background-color: #007FFF !important;
    color: #FFFFFF !important;
}
    
.navbar-default {
    background-color: #007FFF !important;
}