    body {
      min-height: 200px;
      padding-left: 5%;
      padding-right: 5%;
    }
    .author {
        color: #376fcc !important;
    }
    .author:hover, .author:active, .author:focus {
        color: #4285f4 !important;
        text-decoration: none !important;
    }
    strong {
        font-weight: 600 !important;
    }
    .fit {
      max-width: 100%;
      max-height: 100%;
      float: center;
    }
    .row {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
    .col-xl-4 {
        background-color: transparent !important;
        border-color: transparent !important;
        text-align: left !important;
        line-height: 160%;
    }
    .col-md-8 {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .col-md-2 {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .col-md-12 {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .col-md-3 {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    strong {
        font-size: 20pt !important;
    }
    small {
        font-size: 14pt !important;
    }
    bold {
        font-weight: bolder !important;
    }
    center {
        font-size: 14pt !important;
    }
    .fas { 
        float: right !important;
        font-size: 25pt;
    }
    big {
        font-size: 22pt !important;
    }
    .text {
        font-size: 18pt;
        font-weight: 400 !important;
        margin-top: 5pt !important;
    }
    .navbar-static-top {
      margin-bottom: 19px;
    }
    .card-header {
        font-size: 12pt !important;
        background-color: #4285f4 !important;
        color: #FFFFFF !important;
    }
    hr {
        margin-bottom: 10px !important;
    }
    .card-body {
        padding-top: 15px !important;
        padding-bottom: 5px !important;
    }
    
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    
    h4 {
      margin-top: 25px;
    }
    .row {
      margin-bottom: 20px;
    }
    .row .row {
      margin-top: 10px;
      margin-bottom: 0;
    }
    [class*="col-"] {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #eee;
      background-color: rgba(86,61,124,.15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86,61,124,.2);
    }
    
    hr {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    
    /*
     * Globals
     */
    
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin-top: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #333;
    }


